*{
    box-sizing: border-box;
}
body, p {
    font-family: sans-serif;
    font-size: 10pt;
}
td {
    cursor: pointer;
}
a, a:active {
    color: black;
    text-decoration: none;
    border-bottom: 1px gray dotted;
}
#container{ 
    max-width: 98%;
    margin: 0 auto; /* Zentriert Inhalt */
}
#flexrow{
    display: flex;
    flex-flow: row wrap;
}
#sidebar{
    flex: 1 0 400px;
    margin: .5em;
    overflow: auto;
}
#map{
    flex: 1 0 400px;
    height: 75vh;
    margin: .5em;
}
.footerlink {
    float: right;
    margin-bottom: 1em;
    margin-right: .5em;
}
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 49px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 49px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}
.popupAddedDate {
    margin-bottom: auto;
}
.popupName {
    margin-top: auto;
    margin-bottom: .5em;
    font-size: 14pt;
}
.popupSubmit {
    width: 100%;
}
.inputText {
    margin-bottom: .7em;
    width: 100%;
    display: inline-block;
}
.inputDate {
    margin-bottom: .7em;
    width: 100%;
    display: inline-block;
}
.inputNumber {
    margin-bottom: .7em;
    width: 100%;
    display: inline-block;
}
